@import 'variables.css';

body {
    background: url('../img/cielo.jpg');
    background-attachment: fixed;
}

#logo {
    background-color: var(--azul);
}

#menu ul li:hover {
    background-color: var(--azul);
}

.button-more {
    background-color: var(--azul);
}
