@import 'variables.css';


body {
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}

#logo {
    background-color: var(--verde);
}

#menu ul li:hover {
    background-color: var(--verde);
}

.button-more {
    background-color: var(--verde);
}
